.App {
    text-align: center;
  }
  
  /* export const WHITE = '#f9f9f9';
  export const BLUE = '#0373fc'; */
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #303030;
    text-align: right;
    padding: 8px;
  }
  